
html body {
    width: 100%;
    margin:0;
    padding:0;

}

body {
    background-color: #383838;
}



.logo {
    text-align: center;
    color: #ba8baf;
    
}

span {
    font-size: 0.5em;
    display: inline-block;
    color: rgba(128, 128, 128, 0.5);
    margin: 2px;
}

.player {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 25em;
}

.station {
    text-align: center;
    color: #7cafc2;
}

.channels {
    text-align: center;
   width: 50%;
   margin-left: 24.5%;
}

ul {
    list-style: none;
    z-index: 2;
    
}
li {
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.station:hover {
 text-shadow: 0 0 5px #f0f0aa; 
}
footer {
    color: #484848;
}
    

.category {
    font-size: 1.2em;
    font-weight: bold;
    color: #a1b56c;
}

.app {
    position: relative;
    margin: 10px;
}

.app > div {
    width: 0.1px;
    background-color: orange;
    display: inline-block;
    outline-style: solid;
    outline-color: orange;
    outline-width: 0.1px;
    margin-left: 8px;
}

.bin-count {
    position: absolute;
    left: 30%;
    float: right;
    font-size: 2em;
    height: 50px;
}

/*---Spectrum analyser--*/
canvas {
    height: 10rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

/*-------Graphic Eq---*/

.transport{
    width:75px;
    height:75px;
    margin:0 auto;
    margin-bottom:100px;
   

}

.transport-icon{
    margin:0 auto;
    background-color:green;
    height:100%;
    width:100%;
}


.graphic-eq-box {
    position:relative;
    top: 30rem;
    align-items: center;
    margin: 0 auto;
    width:400px;
    border: 0px solid gray;
}

.graphic-eq{
    margin:0 auto;
    width:375px;
    top:100px;
    align-items: center;
}


.eq {
    display: inline-block;
    padding: 0.9em;
    border: 2px solid orange;
    align-items: center;
}

p{
    color:rgba(60, 75, 111, 0.94);
}

.eq-band{
    display:inline-block;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 100%;
    margin-left: 4px;
}


.ui-widget-header{
    background-color: rgba(29, 32, 121, 0.36)
}

.app {
    position: relative;
    margin: 10px;
}

.app > div {
    width: 0.1px;
    background-color: orange;
    display: inline-block;
    outline-style: solid;
    outline-color: orange;
    outline-width: 0.1px;
    margin-left: 8px;
}

.bin-count {
    position: absolute;
    left: 30%;
    float: right;
    font-size: 2em;
    height: 50px;
}

.equalizer {
    display: flex;
    
  }
  
  .section {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 8px;
  }
    .title {
      line-height: 40px;
      font-size: 14px;
      color: #fff;
      font-weight: 700;
    }
    .sliders {
      display: flex;
    }
  
  
  .range-slider {
    width: 30px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
  }
    .param {
      color: #f7f7f7;
      font-size: 14px;
      line-height: 14px;
    }
    .scope {
      color: #f7f7f7;
      font-size: 12px;
      line-height: 12px;
    }
      /*&-min {
        margin-top: 35px;
      }*/
    
    input[type=range].vertical {
      transform: rotateZ(-90deg);
      width: 104px;
      margin-top: 44px;
    }
  
  
  
  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D8D8D8;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #44BFA3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D8D8D8;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: #D8D8D8;
    border-radius: 3px;
    border: none;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #44BFA3;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #D8D8D8;
    border: none;
    border-radius: 6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #D8D8D8;
    border: none;
    border-radius: 6px;
  }
  input[type=range]::-ms-thumb {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #44BFA3;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #D8D8D8;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #D8D8D8;
  }